<div id="popularPeopleMain">
  <div id="popularPeople">
    <div id="icon">
      <i class="fas fa-user"></i>
    </div>
    <div id="headerText">
      <label class="topic">People You May Know</label>
    </div>
  </div>
  <div id="rankingPeople">
    <div id="rowranking" *ngFor="let popular of popularPeople" (click)="onProfileNameClick(popular.id)">
      <div id="iconRanking1">
        <img
          id="image"
          [src]="popular.profilePicture"
          onerror="this.src='/assets/image/not_found.jpg'"
          alt="profile"
        />
      </div>
      <div id="detail">
        <div id="name" >{{popular.firstName}} {{popular.lastName}}</div>
        <div id="position">{{popular.details}}</div>
      </div>
    </div>
  </div>
</div>
