#popularPeopleMain {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  #popularPeople {
    display: flex;
    border-bottom: 1.5px solid #dadada;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    align-items: center;
    #icon {
      color: #4db8ff;
      font-size: 18px;
      font-weight: normal;
    }
    #headerText {
      margin-left: 10px;
      font-size: 18px;
      font-weight: bold;
      color: #4CB8FF;
    }
  }
  #rankingPeople {
    margin: 0;
    padding: 0;
    #rowranking {
      background-color: #ffff;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 5px;
      height: 50px;
      border-radius: 7px;
      padding: 5px;
      #iconRanking1 {
        display: flex;
        justify-content: flex-start;
        width: 18%;
        #image {
          height: 41px;
          width: 41px;
          border-radius: 10px;
          object-fit: cover;
        }
      }
      #detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 82%;
        cursor: pointer;
        #name {
          color: #534f4f;
          font-size: 16px;
          font-weight: bold;
        }
        #position {
          color: #838383;
          font-size: 11px;
          font-weight: normal;
        }
      }
      &:hover {
        background-color: #E1F2FF;
        cursor: pointer;
      }
    }
  }
}
