<div id="viewMain">
		<div id="postMain">
				<div class="postLayout">
						<div class="postBox">
								<div class="postInput">
										<textarea class="postText" [(ngModel)]="addPostRequest.contents" placeholder="What are you thinking ?"></textarea>
								</div>
								<div class="options">
										<div class="option-box">
												<div class="icon-box">
														<label for="FileInput" id="fileInput"><i class="fas fa-image input-icon" aria-hidden="true"></i></label>
														<input class="uploadFile" #fileUpload type="file" accept="image/png, image/jpeg" id="FileInput" multiple (change)="countMutifile($event)" />
												</div>
												<div class="icon-image" *ngIf="files.length">
														<div class="icon-bg">
																<div class="icon-count">
																		<label><i class="fas fa-image input-icon" aria-hidden="true"></i></label>
																</div>
																<div class="icon-count">
																		<label>{{files.length}}/4 photos</label>
																</div>
																<div class="icon-count" (click)="clearPicture()">
																		<label class="dis-icons"><i class="fas fa-times input-icon" aria-hidden="true"></i></label>
																</div>
														</div>
												</div>
										</div>
										<div class="post-box">
												<div class="post-bg "
													[ngClass]="{'disable': !imageBase64List.length && !addPostRequest.contents.length}" 
													(click)="onAddPostClick()"
													*ngIf="!isLoading; else whenLoading"
													>
														<div class="icon-post">
																Add post
														</div>
												</div>
												<ng-template #whenLoading>
													<div class="post-bg loading">
														<div class="icon-post">
																<i class="fa fa-spinner fa-spin"></i>
														</div>
												</div>
												</ng-template>
										</div>
								</div>
						</div>
				</div>
		</div>
		<app-post [homeRef]="profileRef" [isCurrent]="true"></app-post>
</div>