<div id="viewMain">
    <div class="profileBox">
        <app-profile></app-profile>
    </div>
    <div id="postMain">
        <div class="postBox">
            <div class="postInput">
                <input class="postText" type="text" placeholder="What are you thinking ?">
            </div>
            <div class="options">
                <div class="icon-box">
                    <label for="FileInput">
                        <i class="fas fa-image input-icon" aria-hidden="true"></i>
                    </label>
                        <input class="uploadFile" type="file" id="FileInput"/>
                </div>
            </div>
        </div>
    </div>
</div>