#layoutMain {
  $nav-height: 50px;
  $side-bar-width: 250px;
  #navBox {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100vw;
    height: $nav-height;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 2px #a3a3a3;
  }
  #bodyBox {
    margin-top: $nav-height;
    height: calc(100vh - #{$nav-height});
    display: flex;
    #sideBarBox {
      background-color: #ffffff;
      width: $side-bar-width;
      z-index: 5;
    }
    #mainBox {
      width: calc(100vw - #{$side-bar-width});
      height: calc(100vh - #{$nav-height});
      overflow-y: hidden;
      background-color: #f1f1f1;
    }
    @media screen and (max-width: 1080px) {
      #sideBarBox {
        $transition-time: 0.3s;
        position: absolute;
        left: -300px;
        transition: left $transition-time ease-in;
        &.show {
          left: 0;
          transition: left $transition-time ease-out;
        }
      }
      #mainBox {
        width: calc(100vw);
      }
    }
  }
}