<div id="signUpMain">
  <div id="mainBox">
    <div id="logoBox">
      <div id="logoMain">S</div>
      <div id="logoText">ocailize</div>
    </div>
    <div class="input-box">
      <i class="fas fa-user input-icon" aria-hidden="true"></i>
      <input class="input-text-box" type="text" placeholder="Username"
        [(ngModel)]="registerRequest.username"
        [ngClass]="{'invalid': validate.userIsValid === false, 'valid': validate.userIsValid}" 
        (input)="validateOnInput('username')"
      >
    </div>
    <div class="input-box">
      <i class="fas fa-lock input-icon" aria-hidden="true"></i>
      <input class="input-text-box" type="password" placeholder="Password"
        [(ngModel)]="registerRequest.password"
        [ngClass]="{'invalid': validate.passIsValid === false, 'valid': validate.passIsValid}" 
        (input)="validateOnInput('password')"
      >
    </div>
    <div class="input-box">
      <i class="fas fa-envelope input-icon" aria-hidden="true"></i>
      <input class="input-text-box" type="email" placeholder="Email"
        [(ngModel)]="registerRequest.email"
        [ngClass]="{'invalid': validate.emailIsValid === false, 'valid': validate.emailIsValid}" 
        (input)="validateOnInput('email')"
      >
    </div>
    <div class="input-box">
      <i class="fas fa-user input-icon" aria-hidden="true"></i>
      <input class="input-text-box" type="text" placeholder="First Name"
        [(ngModel)]="registerRequest.firstName"
        [ngClass]="{'invalid': validate.firstNameIsValid === false, 'valid': validate.firstNameIsValid}" 
        (input)="validateOnInput('firstName')"
      >
    </div>
    <div class="input-box">
      <i class="fas fa-user input-icon" aria-hidden="true"></i>
      <input class="input-text-box" type="text" placeholder="Last Name"
        [(ngModel)]="registerRequest.lastName"
        [ngClass]="{'invalid': validate.lastNameIsValid === false, 'valid': validate.lastNameIsValid}" 
        (input)="validateOnInput('lastName')"
      >
    </div>
    <div class="input-box">
      <i class="fas fa-mobile-alt input-icon" aria-hidden="true"></i>
      <input class="input-text-box" type="text" placeholder="Phone Number"
        [(ngModel)]="registerRequest.phoneNumber"
        [ngClass]="{'invalid': validate.phoneIsValid === false, 'valid': validate.phoneIsValid}"
        (keypress)="numberOnly($event)"
        maxlength="10"
        (input)="validateOnInput('phoneNumber')"
      >
    </div>
    <div class="input-box">
      <p-calendar inputId="basic"
        dateFormat="dd-mm-yy"
        placeholder="Birthday (DD/MM/YYYY)"
        [(ngModel)]="birthDate"
        [style]="{'width':'100%', 'height': '35px'}"
        [inputStyle]="{'height':'35px', 'fontSize': '14px', 'fontWeight': '500', 'color': '#7e7e7e'}"
        [showIcon]="true"
        (onSelect)="validateOnInput('birthDay')"
      >
      </p-calendar>
    </div>
    <div class="button-box">
      <button class="action-button" (click)="onRegister(1)" *ngIf="!isLoading; else loading">Sign up</button>
      <ng-template #loading>
        <button class="action-button loading"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></button>
      </ng-template>
    </div>
    <div id="orBox">
      <hr class="or-line">
      <div id="orText">OR</div>
      <hr class="or-line">
    </div>
    <div class="button-box-social">
      <div class="icon-box">
        <i class="fab fa-google button-icon" aria-hidden="true"></i>
      </div>
      <button id="googleButton">Continue with Google</button>
    </div>
    <div class="button-box-social">
      <div class="icon-box">
        <i class="fab fa-facebook-f button-icon" aria-hidden="true"></i>
      </div>
      <button id="facebookButton">Continue with Facebook</button>
    </div>
    <div id="footerBox">
      <div id="footerText">Already a member?</div>
      <div id="linkText" (click)="goToSignIn()">Sign in</div>
    </div>
  </div>
</div>