<div id="signInMain">
  <div id="mainBox">
    <div id="logoBox">
      <div id="logoMain">S</div>
      <div id="logoText">ocailize</div>
    </div>
    <div class="input-box">
      <i class="fas fa-user input-icon" aria-hidden="true"></i>
      <input class="input-text-box" 
        (input)="validateOnInput('username')"
        [ngClass]="{'invalid': validate.userIsValid === false, 'valid': validate.userIsValid}" 
        [(ngModel)]="loginRequest.username" 
        type="text" 
        placeholder="Username / Email">
    </div>
    <div class="input-box">
      <i class="fas fa-lock input-icon" aria-hidden="true"></i>
      <input class="input-text-box"
        (input)="validateOnInput('password')"
        [ngClass]="{'invalid': validate.passIsValid === false, 'valid': validate.passIsValid}" 
        [(ngModel)]="loginRequest.password" 
        type="password" 
        placeholder="Password">
    </div>
    <div class="button-box">
      <button class="action-button" (click)="onLogin()" *ngIf="!isLoading; else loading">Sign in</button>
      <ng-template #loading>
        <button class="action-button loading"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></button>
      </ng-template>
    </div>
    <div id="orBox">
      <hr class="or-line">
      <div id="orText">OR</div>
      <hr class="or-line">
    </div>
    <div class="button-box-social">
      <div class="icon-box">
        <i class="fab fa-google button-icon" aria-hidden="true"></i>
      </div>
      <button id="googleButton" (click)="loginWithGoogle()">Continue with Google</button>
    </div>
    <div class="button-box-social">
      <div class="icon-box">
        <i class="fab fa-facebook-f button-icon" aria-hidden="true"></i>
      </div>
      <button id="facebookButton" (click)="loginWithFacebook()">Continue with Facebook</button>
    </div>
    <div id="footerBox">
      <div id="footerText">Doesn't have an account yet?</div>
      <div id="linkText" (click)="goToSignUp()">Sign up</div>
    </div>
  </div>
</div>