<div id="storyPopupMain" *ngIf="popup">
  <div id="backgroundPopup" (click)="closePopup(false)"></div>
  <div id="storyBox">
    <div id="popupBox">
      <div *ngIf="isCreate;then Create else Story"></div>
      <ng-template #Story>
        <div id="storyImage">
          <img id="image" [src]="story.picture" />
        </div>
      </ng-template>
      <ng-template #Create>
        <div id="iconBox">
          <div id="createIcon">
            <label for="uploadImage" id="create">
              <i class="fas fa-plus"></i>
            </label>
            <input type="file" accept="image/png, image/jpeg" id="uploadImage" (change)="checkImage($event)">
          </div>
          <div id="convertImg">
            <img [src]="convertImg" id="conImg" [ngStyle]="{'opacity': popup && selectImage ? 0.7 : 0}">
          </div>
        </div>
      </ng-template>
      <div id="userDetail">
        <div id="userIcon">
          <img id="userImage" [src]="checkUserImage(isCreate)"/>
        </div>
        <div id="detail">
          <div id="name">{{checkUser(isCreate)}}</div>
        </div>
      </div>
      <ng-container *ngIf="isCreate;then inputText else contentText"></ng-container>
      <ng-template #contentText>
        <div id="storyContent">
          <pre id="contents">{{story.contents}}</pre>
        </div>
      </ng-template>
      <ng-template #inputText>
        <div id="textBox">
          <textarea type="text" id="text" [(ngModel)]="request.contents" placeholder="What on you mind?"></textarea>
        </div>
      </ng-template>
      <div id="createStoryBox" *ngIf="isCreate">
        <div id="create" (click)="onCreateStoryClick()">
          Create Story
        </div>
      </div>
    </div>
    <div id="closeStory" (click)="closePopup(false)">
      <i id="close" class="fas fa-times"></i>
    </div>
  </div>
</div>