#cardMain {
    width: 100%;
    height: 100%;
    padding: 15px 10px 10px;
    overflow-y: overlay;
    display: flex;
    justify-content: center;
    #cardBodyBox {
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 220px));
        grid-gap: 20px;
        justify-content: center;
        #cardBox {
            height: 290px;
            width: 220px;
            border-radius: 5px;
            box-shadow: 0px 4px 17px -2px rgb(0 0 0 / 25%);
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ffffff;
            .cardImage {
                height: 160px;
                max-height: 160px;
                width: 100%;
                max-width: 220px;
                object-fit: cover;
                box-shadow: 0 4px 2px -2px rgb(196, 196, 196);
                #imgProfile {
                    max-height: 250px;
                    height: 100%;
                    max-width: 220px;
                    width: 100%;
                    border-radius: 3px;
                }
            }
            .cardName {
                display: flex;
                justify-content: center;
                padding: 5px;
                margin: 0 0 5px;
                .cardText {
                    font-size: 18px;
                    font-weight: bold;
                    color: #534F4F;
                    &:hover {
                        color: #4db8ff;
                        cursor: pointer;
                    }
                }
            }
            .cardTitle {
                box-shadow: 0px 0px 17px -6px rgb(0 0 0 / 25%);
                height: 40px;
                width: 200px;
                border-radius: 3px;
                display: flex;
                border: 1px solid #4db8ff;
                .cardFollower, .cardFollowing {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 50%;
                    .cardNumber {
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .cardFollow {
                        font-size: 14px;
                        font-weight: bold;
                        color: #929292;
                    }
                }
                .lineBox {
                    height: 40px;
                    background-color: #4db8ff;
                    width: 1px;
                }
            }
            .cardOptions {
                display: flex;
                justify-content: center;
                padding-top: 10px;
                #btnActive {
                    cursor: pointer;
                    max-width: 280px;
                    width: 100%;
                    margin: 0 5px;
                    font-size: 16px;
                    font-weight: bold;
                    background-color: #ffffff;
                    border: 1px solid #4db8ff;
                    color: #4db8ff;
                    border-radius: 5px;
                    height: 35px;
                    &:hover {
                        background-color: #4db8ff;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}