<div id="cardMain">
    <div id="cardBox" *ngFor="let menu of cardProfile, let i = index">
        <div class="cardImage">
          <img id="imgProfile" src={{menu.pathUrl}} alt="norslim">
        </div>
        <div class="cardBox">
            <div class="cardName">
                <p class="cardText">{{menu.name}}</p>
            </div>
            <div class="cardTitle">
                <div class="cardFollower">
                    <p class="cardNumber">{{menu.Follower}}</p>
                    <p class="cardFollow">Follower</p>
                </div>
                <div class="lineBox"></div>
                <div class="cardFollowing">
                    <p class="cardNumber">{{menu.Following}}</p>
                    <p class="cardFollow">Following</p>
                </div>
            </div>
            <div class="cardOptions">
                <button id="btnActive">UNFOLLOW</button>
            </div>
        </div>
    </div>
</div>