#sideBarMain {
  $nav-height: 50px;
  height: calc(100vh - #{$nav-height + 30px});
  padding: 15px 10px 15px;
  #menuContainer {
    margin: 0;
    padding: 0;
    height: 92%;
    border-bottom: 1px solid #CFD0D2;
    #profile {
      display: flex;
      box-sizing: border-box;
      justify-content: start;
      align-items: center;
      background-color: #F5F5F5;
      border-radius: 15px;
      height: 65px;
      margin: 0;
      padding-left: 8px;
      .profile-image {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        width: 25%;
        margin: 0;
        padding: 0;
        .image {
          height: 45px;
          width: 45px;
          border-radius: 10px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          margin: 0;
          padding: 0;
        }
      }
      .profile-text {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 75%;
        margin: 0;
        padding-left: 2px;
        .profile-name {
          font-size: 16px;
          font-weight: bold;
          color: #534F4F;
          margin: 0;
          padding: 0;
        }
        .description {
          font-size: 11px;
          font-weight: normal;
          color: #AAAAAA;
          margin: 0;
          padding: 0;
        }
      }
    }
    :hover {
      cursor: pointer;
    }
    #menu {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      margin-top: 22px;
      padding: 0;
      .menu-div {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: start;
        height: 40px;
        margin-top: 2px;
        padding: 0;
        background-color: white;
        border-radius: 7px;
        .menu-icon {
          text-align: center;
          width: 20%;
          margin: 0;
          padding: 0;
          color: #4DB8FF;
          font-size: 18px;
          font-weight: bold;
        }
        .menu-name {
          width: 80%;
          text-align: start;
          margin: 0;
          padding: 0;
          .text {
            margin: 0;
            padding: 0;
            color: #828282;
            font-size: 14px;
            font-weight: bold;
          }
          .text.text-active {
            color: #4DB8FF;
          }
        }
        &:hover {
          background-color: #E1F2FF;
          cursor: pointer;
        }
      }
      .menu-div.card-active {
        background-color: #E1F2FF;
      }   
    }

  }
  #logoutContainer {
    margin: 0;
    padding-top: 10px;
    height: 8%;
    #logout {
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      background-color: #E1F2FF;
      height: 40px;
      border-radius: 7px;
      padding: 0;
      margin: 0;
      .logout-icon {
        text-align: center;
        margin: 0;
        padding-right: 5px;
        color: #4DB8FF;
        font-size: 18px;
        font-weight: bold;
      }
      .logout-name {
        text-align: start;
        margin: 0;
        padding-left: 5px;
        .logout-text {
          margin: 0;
          padding: 0;
          color: #4DB8FF;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    :hover {
      cursor: pointer;
    }
  }
}