#edit-container {
    height: 857px;
    width: 632px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}