<div id="editMain">
    <div id="edit-container">
        <div id="information">
            <div class="topic-con">
                <label class="topic">ACCOUNT INFORMATION</label>
            </div>
            <div class="input-details-con">
                <div class="input-item">
                    <div class="input-details-div">
                        <div class="name">
                            <label class="text-name">First Name</label>
                        </div>
                        <div class="input-div">
                            <input class="input" type="text">
                        </div>
                    </div>
                    <div class="input-details-div">
                        <div class="name">
                            <label class="text-name">Last Name</label>
                        </div>
                        <div class="input-div">
                            <input class="input" type="text">
                        </div>
                    </div>
                </div>
                <div class="input-item">
                    <div class="input-details-div">
                        <div class="name">
                            <label class="text-name">Details</label>
                        </div>
                        <div class="input-div">
                            <input class="input" type="text">
                        </div>
                    </div>
                </div>
                <div class="input-item">
                    <div class="input-details-div">
                        <div class="name">
                            <label class="text-name">Email</label>
                        </div>
                        <div class="input-div">
                            <input class="input" type="text">
                        </div>
                    </div>
                </div>
                <div class="input-item">
                    <div class="input-details-div">
                        <div class="name">
                            <label class="text-name">Phone Number</label>
                        </div>
                        <div class="input-div">
                            <input class="input" type="text">
                        </div>
                    </div>
                </div>
                <div class="input-item">
                    <div class="input-details-div">
                        <div class="name">
                            <label class="text-name">Date of Birth</label>
                        </div>
                        <div class="input-div">
                            <p-calendar inputId="basic" dateFormat="dd-mm-yy"
                                [style]="{'width':'100%', 'height': '33px'}"
                                [inputStyle]="{'height':'33px', 'fontSize': '14px', 'fontWeight': '500', 'color': '#8B8B8B', 'border-radius': '5px 0px 0px 5px', 'border': '1px solid #ECECEC'}"
                                [showIcon]="true">
                            </p-calendar>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-con">
                <button class="button-save-change">Save Changes</button>
            </div>
        </div>
        <div id="information">
            <div class="topic-con">
                <label class="topic">CHANGE PASSWORD</label>
            </div>
            <div class="input-details-con">
                <div class="input-item">
                    <div class="input-details-div">
                        <div class="name">
                            <label class="text-name">Current Password</label>
                        </div>
                        <div class="input-div">
                            <input class="input" type="password">
                        </div>
                    </div>
                </div>
                <div class="input-item">
                    <div class="input-details-div">
                        <div class="name">
                            <label class="text-name">New Password</label>
                        </div>
                        <div class="input-div">
                            <input class="input" type="password">
                        </div>
                    </div>
                </div>
                <div class="input-item">
                    <div class="input-details-div">
                        <div class="name">
                            <label class="text-name">Retry Password</label>
                        </div>
                        <div class="input-div">
                            <input class="input" type="password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-con">
                <button class="button-cancel">Cancel</button>
                <button class="button-save-change">Save Changes</button>
            </div>
        </div>
    </div>
</div>