<div id="storyMain">
  <div id="popup" [ngStyle]="{'z-index': popupShow ? 6 : -1}">
    <app-story-popup [story]="story" [popup]="popupShow" [isCreate]="createStory"
      (close)="closePopup($event)" [user]="user">
    </app-story-popup>
  </div>
  <div id="storyContent">
    <div id="storyBox" #storyBox>
      <div id="createStoryBox">
        <div id="userIcon">
          <img id="image" [src]="user.profilePicture" alt="prifile" />
        </div>
        <div id="iconBox">
          <div id="createIcon" (click)="createPopup()">
            <i class="fas fa-plus" id="create"></i>
          </div>
        </div>
      </div>
      <div class="StoryDay" id="{{i + 1}}" *ngFor="let story of storyList, let i = index">
        <div id="userIcon">
          <img id="image" [src]="story.owner.profilePicture" />
        </div>
        <img id="storyImage" [src]="story.picture" (click)="showPopup(story)"/>
      </div>
    </div>
    <div id="arrowBox" [ngStyle]="{'opacity': maxScroll > 0 ? 1 : 1}">
      <div id="leftArrowBox">
        <div id="leftArrow" (click)="leftArrow()" [ngStyle]="{'opacity': leftScroll ? 1 : 0}">
          <i class="fas fa-arrow-left" id="arrow"></i>
        </div>
      </div>
      <div id="rightArrowBox">
        <div id="rightArrow" (click)="rightArrow()" [ngStyle]="{'opacity': rightScroll ? 1 : 0}">
          <i class="fas fa-arrow-right" id="arrow"></i>
        </div>
      </div>
    </div>
  </div>
</div>