#profileMain {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 0 1.8rem;
    .bannerBox {
        $banner-height: 250px;
        height: $banner-height;
        position: relative;
        #goToEditBox {
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px 10px 0 0;
            #goToEditButton {
                border: none;
                outline: none;
                background-color: transparent;
                color: #ffffff;
                font-size: 20px;
                transition: transform 0.2s;
                &:hover {
                    transform: scale(1.2);
                    transition: transform 0.2s;
                    cursor: pointer;
                }
            }
        }
        .imgBanner {
            #backgroundImage {
                width: 100%;
                height: $banner-height;
            }
        }
        @media screen and (max-width: 420px) {
            height: 200px;
            .imgBanner {
                #backgroundImage {
                    height: 200px;
                }
            }
        }
    }
    #profileBoxBackground {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        .profileBox {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            max-width: 1200px;
            min-height: 90px;
            #userDetailsBox {
                width: 55%;
                display: flex;
                .imgProfile {
                    position: relative;
                    width: 40%;
                    #imageProfileBox {
                        top: calc((150px/(-2)));
                        left: calc(100% - 160px);
                        position: absolute;
                        width: 150px;
                        height: 150px;
                        #profileImage {
                            object-fit: cover;
                            position: absolute;
                            width: 150px;
                            height: 150px;
                            border-radius: 50%;
                            border: 5px solid #FFFFFF;
                            box-sizing: border-box;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        }
                        #editButtonBox {
                            z-index: 2;
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            bottom: 0;
                            right: 0;
                            #editButton {
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                outline: none;
                                background-color: #ecf7ff;
                                border: 2px solid #5DAAEB;
                                color: #5DAAEB;
                                font-size: 14px;
                                font-weight: 500;
                                &:hover {
                                    background-color: #5DAAEB;
                                    color: #ffffff;
                                    cursor: pointer;
                                }
                            }
                            #uploadFile {
                                display: none;
                            }
                        }
                    }
                }
                #nameBox {
                    height: 100%;
                    width: 60%;
                    display: flex;
                    #nameTextBox {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        #mainNameBox {
                            display: flex;
                            #textName {
                                font-size: 28px;
                                font-weight: bold;
                                color: #534F4F;
                            }
                            #followButton {
                                outline: none;
                                border-radius: 5px;
                                margin: 0 0 0 10px;
                                padding: 0 10px;
                                background-color: #ffffff;
                                color: #44b4ff;
                                border: 1px solid #44b4ff;
                                font-weight: bold;
                                font-size: 0.85rem;
                                &:hover {
                                    background-color: #0099FE;
                                    border-color: #0099FE;
                                    color: #ffffff;
                                    cursor: pointer;
                                }
                                &.followed {
                                    background-color: #44b4ff;
                                    border-color: #44b4ff;
                                    color: #ffffff;
                                    &:hover {
                                        background-color: #0099FE;
                                        border-color: #0099FE;
                                    }
                                }
                            }
                        }
                        #textDetails {
                            font-size: 16px;
                            color: #939393;
                        }
                    }
                    #followButtonBox {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        #followButton {

                        }
                    }
                }
            }
            #contactBox {
                height: 100%;
                display: flex;
                width: 45%;
                align-items: center;
                .alertBox {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 480px;
                    height: 50px;
                    background: #ffff;
                    border-radius: 10px;
                    box-shadow: 0px 4px 17px 1px rgba(0, 0, 0, 0.25);
                    .alert {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 33%;
                        .alertNumber {
                            font-size: 20px;
                            font-weight: bold;
                            color: #000000;
                        }
                        .alertName {
                            font-size: 16px;
                            font-weight: bold;
                            color: #929292;
                        }
                        &:nth-child(2) {
                            border-right: 1px solid #CFD0D2;
                            border-left: 1px solid #CFD0D2;
                        }
                    }
                }
            }
            @media screen and (max-width: 1400px) {
                flex-flow: column;
                padding: 0 0 20px;
                #userDetailsBox {
                    width: 100%;
                    .imgProfile {
                        $image-size: 130px;
                        position: relative;
                        width: 40%;
                        #imageProfileBox {
                            top: calc((#{$image-size}/(-2)));
                            left: calc(100% - (#{$image-size} + 10px));
                            width: $image-size;
                            height: $image-size;
                            #profileImage {
                                width: $image-size;
                                height: $image-size;
                            }
                        }
                    }
                    #nameBox {
                        margin: 5px 0 0;
                        #textName {
                            font-size: 24px;
                        }
                        #textDetails {
                            font-size: 16px;
                        }
                    }
                }
                #contactBox {
                    width: 100%;
                    justify-content: center;
                    margin: 40px 0 0;
                }
            }
            @media screen and (max-width: 900px) {
                #userDetailsBox {
                    display: flex;
                    flex-flow: column;
                    .imgProfile {
                        width: 100%;
                        height: calc(150px / 2);
                        margin: 0 0 10px;
                        #imageProfileBox {
                            left: 50%;
                            transform: translateX(-50%);
                            #profileImage {
                            }
                        }
                    }
                    #nameBox {
                        width: 100%;
                        justify-content: center;
                    }
                }
                #contactBox {
                    margin: 10px 0 0;
                }
            }
            @media screen and (max-width: 420px) {
                #userDetailsBox {
                    .imgProfile {
                        height: calc(110px / 2);
                        $image-size: 110px;
                        #imageProfileBox {
                            width: $image-size;
                            height: $image-size;
                            #profileImage {
                                width: $image-size;
                                height: $image-size;
                            }
                        }
                    }
                    #nameBox {
                        #textName {
                            font-size: 20px;
                        }
                        #textDetails {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}