<div id=profileMain>
    <div class="bannerBox">
        <div class="imgBanner">
            <img id="backgroundImage" src="https://images.unsplash.com/photo-1635462048348-ff5f320cb0cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80" alt="banner-image">
        </div>
    </div>
    <div id="profileBoxBackground">
        <div class="profileBox">
            <div id="userDetailsBox">
                <div class="imgProfile">
                    <img id="profileImage" src="{{profileDetails.profilePicture || userProfile}}" alt="userProfile">
                </div>
                <div id="nameBox">
                    <div id="nameTextBox">
                        <div id="mainNameBox">
                            <label id="textName">{{profileDetails.firstName}} {{profileDetails.lastName}}</label>
                            <button id="followButton"
                            (click)="onFollowClick()"
                            [ngClass]="{'followed': profileDetails.isFollow}"
                            *ngIf="!isOwner"
                            >{{profileDetails.isFollow ? 'Following' : 'Follow'}}</button>
                        </div>
                        <label id="textDetails">{{profileDetails.details || 'Hello World!!!'}}</label>
                    </div>
                </div>
            </div>
            <div id="contactBox">
                <div class="alertBox">
                    <div class="alert">
                        <label class="alertNumber">{{profileDetails.post}}</label>
                        <label class="alertName">POST</label>
                    </div>
                    <div class="alert">
                        <label class="alertNumber">{{profileDetails.followers}}</label>
                        <label class="alertName">FOLLOWERS</label>
                    </div>
                    <div class="alert">
                        <label class="alertNumber">{{profileDetails.following}}</label>
                        <label class="alertName">FOLLOWING</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
