<div id="navMain">
  <div id="logoBox" (click)="onlogoClick()">
    <div id="logoMain">S</div>
    <div id="logoText">ocailize</div>
  </div>
  <div id="sideBtn" [ngClass]="{'active': showSideBar}" (click)="toggleSidebar()">
    <i class="fas fa-bars" aria-hidden="true"></i>
  </div>
  <div id="searchBox">
    <div id="iconSearch">
      <i class="fas fa-search"></i>
    </div>
    <p-autoComplete
      [style]="{'height': '30px', 'border-radius': '5px'}"
      [inputStyle]="{'font-size': '14px', 'padding': '0 0 0 30px'}"
      [minLength]="1"
      field="name"
      [suggestions]="result" 
      (completeMethod)="search($event)"
      placeholder="Search on Socialize"
      (onSelect)="onSelect($event)"
    ></p-autoComplete>
  </div>
</div>
