<div id="postMain">
  <div id="postBox">
		<div id="post" *ngFor="let post of postList.posts, let i = index">
			<div id="content-container">
				<div class="profile-content">
					<div class="image-div">
						<img class="profile" src={{post.owner.profilePicture}} alt="profile">
					</div>
					<div class="profile-text">
						<p class="profile-name">{{post.owner.firstName}} {{post.owner.lastName}}</p>
						<p class="description">{{post.owner.details || 'Hello World'}}</p>
					</div>
					<div class="more-icon" *ngIf="showMenuIcon()">
						<div class="dots-icon" (click)="toggleShowMenu(i)"><i class="fas fa-ellipsis-h"></i></div>
						<div class="more-menu" *ngIf="post.showMenu">
							<div class="menu-item" (click)="removePost(i)">remove post</div>
						</div>
					</div>
				</div>
				<div class="text-content">
					<pre class="text-desc">{{post.contents}}</pre>
				</div>
				<div class="photo-content" *ngIf="post.picture[0]">
					<div class="photo-grid" [ngClass]="getPhotoLayoutClassName(post.picture.length)">
						<img class="photo" *ngFor="let photo of post.picture, let index = index"
							[ngClass]="getPhotoClassName(index)" src={{photo}} alt="photo">
					</div>
				</div>
				<div class="like-container">
					<div class="heart">
						<div class="icon-heart" [ngClass]="{'liked': post.isLiked}" (click)="likePost(i)">
							<i class="fas fa-heart" aria-hidden="true"></i>
						</div>
						<div class="text-like">{{post.liked}}</div>
					</div>
					<div class="comment">
						<div class="icon-comment" [ngClass]="{'isShow': post.showComment}" (click)="toggleShowComment(i)"><i class="fas fa-comment"></i></div>
					</div>
					<div class="date">
						<label class="text-date">{{post.date | date: 'dd/MM/yyyy'}}</label>
					</div>
					<div class="view">
						<div class="icon-view"><i class="fas fa-eye"></i></div>
						<div class="text-view">{{post.viewed}}</div>
					</div>
				</div>
			</div>
			<div id="comment-container" *ngIf="post.showComment">
				<div class="show-comment">
					<div class="comment-item" *ngFor="let comment of post.commentLists.comments; index as commentIndex">
						<div class="main-comment">
							<div class="image-profile">
								<img class="profile"
									src="{{comment.owner.profilePicture}}"
									alt="profile">
							</div>
							<div class="coment-div">
								<div class="commenter-name">{{comment.owner.firstName}} {{comment.owner.lastName}}</div>
								<div class="content-coment"><label class="text-comment">{{comment.contents}}</label></div>
							</div>
						</div>
						<div class="time-like">
							<div class="time-ago">{{comment.date | date: 'MMM d, y, h:mm:ss a'}}</div>
							<div class="like-comment">
								<div class="like-icon" (click)="likeComment(i, commentIndex)" [ngClass]="{'liked': comment.isLiked}"><i class="fas fa-heart"></i></div>
								<div class="number-like">{{comment.liked}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="write-comment">
					<div class="image">
						<img class="my-image" src="{{userDetails.profilePicture}}" alt="profile">
					</div>
					<div class="input-comment">
						<div class="input">
							<input class="input-text" type="text" (keyup.enter)="onCommentEnter(i)" [(ngModel)]="comment.contents" placeholder="Write a comment...">
						</div>
					</div>
				</div>
			</div>
		</div>
		<app-lazy-loading *ngIf="isPostLoading"></app-lazy-loading>
	</div>
</div>
