#postMain {
  display: flex;
  #postBox {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    #post {
      padding-bottom: 5px;
      background-color: white;
      max-width: 600px;
      width: 100%;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin-bottom: 15px;
      #content-container {
        border-radius: 15px 15px 0 0;
        margin: 0;
        padding: 15px 15px 10px;
        .profile-content {
          display: flex;
          padding-bottom: 5px;
          .image-div {
            width: 45px;
            display: flex;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            margin: 0 5px 0 0;
            padding: 0;
            .profile {
              height: 45px;
              width: 45px;
              border-radius: 10px;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
              object-fit: cover;
              margin: 0;
              padding: 0;
            }
          }
          .profile-text {
            width: 85%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding-left: 2px;
            padding-top: 3px;
            justify-content: flex-start;
            margin: 0;
            .profile-name {
              font-size: 16px;
              font-weight: bold;
              color: #534F4F;
              margin: 0;
              padding: 0;
            }
            .description {
              font-size: 11px;
              font-weight: normal;
              color: #AAAAAA;
              margin: 0;
              padding: 0;
            }
          }
          .more-icon {
            width: 5%;
            color: #AEAEAE;
            font-size: 22px;
            font-weight: bold;
          }
        }
        .text-content {
          padding: 8px;
          margin: 0;
          .text-desc {
            font-size: 14px;
            font-weight: normal;
            color: #000000;
            padding: 0;
            margin: 0;
          }
        }
        .photo-content {
          height: 300px;
          padding-bottom: 15px;
          .photo-grid {
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 50%);
            grid-gap: 8px;
            .photo {
              border-radius: 10px;
            }
            &.grid-1 {
              .photo {
                border-radius: 10px;
                height: 100%;
                grid-area: 1/1/3/3;
                width: 100%;
              }
            }
            &.grid-2 {
              .photo {
                height: 100%;
                width: 100%;
                &.photo-1 {
                  grid-area: 1/1/3/2;
                }
                &.photo-2 {
                  grid-area: 1/2/3/3;
                }
              }
            }
            &.grid-3 {
              .photo {
                height: 100%;
                width: 100%;
                &.photo-1 {
                  grid-area: 1/1/3/2;
                }
                &.photo-2 {
                  grid-area: 1/2/2/3;
                }
                &.photo-3 {
                  grid-area: 2/2/3/3;
                }
              }
            }
            &.grid-4 {
              .photo {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
        .like-container {
          display: flex;
          flex-direction: row;
          box-sizing: border-box;
          align-items: center;
          padding-left: 6px;
          padding-right: 6px;
          .heart {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: fit-content;
            margin: 0 10px 0 0;
            .icon-heart {
              font-size: 18px;
              font-weight: bold;
              color: #878787;
              cursor: pointer;
              &.liked {
                color: #F34D4D;
              }
              &:hover {
                filter: brightness(1.3);
              }
            }
            .text-like {
              font-size: 14px;
              font-weight: normal;
              color: #878787;
              padding-left: 3px;
            }
          }
          .comment {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 42%;
            .icon-comment {
              font-size: 18px;
              font-weight: bold;
              color: #878787;
              &:hover {
                filter: brightness(1.3);
                cursor: pointer;
              }
              &.isShow {
                color: #56bbff;
              }
            }
            .text-comment {
              font-size: 14px;
              font-weight: normal;
              color: #878787;
              padding-left: 3px;
            }
          }
          .date {
            width: 40%;
            text-align: end;
            .text-date {
              font-size: 14px;
              font-weight: bold;
              color: #878787;
            }
          }
          .view {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 10%;
            .icon-view {
              font-size: 18px;
              font-weight: bold;
              color: #6B6B6B;
            }
            .text-view {
              font-size: 14px;
              font-weight: normal;
              color: #878787;
              padding-left: 3px;
            }
          }
        }
      }
      #comment-container {
        padding: 10px;
        margin: 0;
        border-top: 1px solid #DADADA;
        .show-comment {
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          overflow-y: scroll;
          max-height: 250px;
          padding: 0;
          margin: 0;
          .comment-item {
            display: flex;
            flex-direction: column;
            padding-left: 6px;
            margin-bottom: 10px;
            justify-content: flex-start;
            .main-comment {
              display: flex;
              .image-profile {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                width: 35px;
                padding: 0;
                margin: 0 5px 0 0;
                .profile {
                  height: 35px;
                  width: 35px;
                  border-radius: 5px;
                  padding: 0;
                  margin: 0;
                }
              }
              .coment-div {
                width: 100%;
                padding: 0;
                margin: 0;
                .commenter-name {
                  font-size: 14px;
                  font-weight: bold;
                  color: #534F4F;
                  margin: 0;
                  padding: 0;
                }
                .content-coment {
                  font-size: 12px;
                  font-weight: normal;
                  color: #000000;
                  margin: 0;
                  padding: 0;
                }
              }
            }
            .time-like {
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              justify-content: flex-end;
              padding-right: 6px;
              width: 100%;
              .time-ago {
                font-size: 12px;
                font-weight: normal;
                color: #878787;
                margin: 0;
                padding: 0;
              }
              .like-comment {
                display: flex;
                flex-direction: row;
                padding-left: 15px;
                .like-icon {
                  font-size: 12px;
                  font-weight: bold;
                  color: #878787;
                  margin: 0;
                  padding: 0;
                  &.liked {
                    color: #F34D4D;
                  }
                  &:hover {
                    filter: brightness(1.3);
                    cursor: pointer;
                  }
                }
                .number-like {
                  padding-left: 4px;
                  font-size: 12px;
                  font-weight: normal;
                  color: #878787;
                  padding-left: 5px;
                  margin: 0;
                }
              }
            }
          }
        }
        .show-comment::-webkit-scrollbar {
          display: none;
        }
        .show-comment {
          -ms-overflow-style: none;
          scrollbar-width: none;
        }
        .write-comment {
          display: flex;
          flex-direction: row;
          box-sizing: border-box;
          align-items: center;
          justify-content: center;
          padding-left: 6px;
          padding-right: 6px;
          .image {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 10%;
            padding: 0;
            margin: 0;
            .my-image {
              height: 35px;
              width: 35px;
              border-radius: 5px;
              padding: 0;
              margin: 0;
            }
          }
          .input-comment {
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            background-color: #ececec;
            border: 1px solid #EFEFEF;
            border-radius: 5px;
            height: 30px;
            width: 90%;
            padding-left: 10px;
            padding-right: 10px;
            align-items: center;
            justify-content: flex-start;
            .input {
              width: 95%;
              .input-text {
                font-size: 13px;
                font-weight: normal;
                color: #000000;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 28px;
                background-color: #ececec;
                border-width: 0px;
                border: none;
                outline: none;
              }
            }
            .icon-camera {
              width: 5%;
              text-align: center;
              color: #878787;
            }
          }
        }
      }
    }
    @media screen and (max-width: 980px) {
      width: 100%;
    }
    @media screen and (max-width: 380px) {
      width: 100%;
      padding: 0;
    }
  }
}