<div id="post">
    <div id="content-container">
        <div class="profile-content">
            <div class="image-div">
                <img class="profile" src="../../../assets/image/profile.jpg" alt="profile">
            </div>
            <div class="profile-text">
                <p class="profile-name">Meaw Mouw</p>
                <p class="description">UX/UI Designer</p>
            </div>
            <div class="more-icon">
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
        <div class="text-content">
            <label class="text-desc">วันนี้อากาศแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่มแจ่ม</label>
        </div>
        <div class="photo-content">
            <img class="photo" src="../../../assets/image/profile.jpg" alt="photo">
            <img class="photo" src="../../../assets/image/profile.jpg" alt="photo">
        </div>
        <div class="like-container">
            <div class="heart">
                <div class="icon-heart"><i class="fas fa-heart"></i></div>
                <div class="text-like">3</div>
            </div>
            <div class="comment">
                <div class="icon-comment" (click)="toggleShowComment()"><i class="fas fa-comment"></i></div>
                <div class="text-comment">4</div>
            </div>
            <div class="date">
                <label class="text-date">27 OCT 2021</label>
            </div>
            <div class="view">
                <div class="icon-view"><i class="fas fa-eye"></i></div>
                <div class="text-view">12K</div>
            </div>
        </div>
    </div>
    <div id="comment-container" *ngIf="isShowComment">
        <div class="show-comment">
            <div class="comment-item">
                <div class="image-profile">
                    <img class="profile" src="https://www.biography.com/.image/t_share/MTQyMDA0NDgwMzUzNzcyNjA2/mark-zuckerberg_gettyimages-512304736jpg.jpg" alt="profile">
                </div>
                <div class="coment-div">
                    <div class="commenter-name">Mark Zuckerberg</div>
                    <div class="content-coment"><label class="text-comment">Cool, I like it!</label></div>
                </div>
                <div class="time-like">
                    <div class="time-ago">8 hours ago</div>
                    <div class="like-comment">
                        <div class="like-icon"><i class="fas fa-heart"></i></div>
                        <div class="number-like">150</div>
                    </div>
                </div>
            </div>
            <div class="comment-item">
                <div class="image-profile">
                    <img class="profile" src="https://www.biography.com/.image/t_share/MTQyMDA0NDgwMzUzNzcyNjA2/mark-zuckerberg_gettyimages-512304736jpg.jpg" alt="profile">
                </div>
                <div class="coment-div">
                    <div class="commenter-name">Mark Zuckerberg</div>
                    <div class="content-coment"><label class="text-comment">
                        Cool, I like it! Cool, I like it! 
                        Cool, I like it! Cool, I like it! 
                        Cool, I like it! Cool, I like it! Cool, I like it! Cool, I like it! 
                        Cool, I like it!  Cool, I like it!  Cool, I like it!  Cool, I like it!  Cool, I like it!  Cool, I like it!  Cool, I like it!  Cool, I like it!  Cool, I like it!  Cool, I like it!  Cool, I like it!  Cool, I like it!  Cool, I like it!  Cool, I like it!  Cool, I like it!  Cool, I like it! 
                    </label></div>
                </div>
                <div class="time-like">
                    <div class="time-ago">8 hours ago</div>
                    <div class="like-comment">
                        <div class="like-icon"><i class="fas fa-heart"></i></div>
                        <div class="number-like">150</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="write-comment">
            <div class="image">
                <img class="my-image" src="../../../assets/image/profile.jpg" alt="profile">
            </div>
            <div class="input-comment">
                <div class="input">
                    <input class="input-text" type="text" placeholder="Write a comment...">
                </div>
                <div class="icon-camera">
                    <i class="fas fa-camera"></i> 
                </div>
            </div>
        </div>
    </div>
</div>
